
.banner-col-l img{
	width: 100%;
}
.banner-col-l{
	position: relative;
}

.banner-col-l .pos-banner{
	position: absolute; 
	bottom: 15px; 
	right: 20%;
}

.banner-col-r{
	height: 500px;
	background-color: #e6e6e6;
	padding-right: 0px;
}

.banner-col-r img{
	max-width: 350px;
	max-height: 350px;
	margin: 0px auto;
	padding-top: 50px
}

.contact-text{
	color: #ffff00
}

.banner-col-r .banner-button{
	margin-top: 30px;
}

.banner-button .btn-doc{
	background-color: rgba(76, 175, 80, 1);
	font-size: 18px;
}

.banner-button .btn-buy{
	background-color: rgba(255, 87, 34, 1);
	font-size: 18px;
}
/*unknownThing*/
.u-horizone{
	width: 100%;
	height: 100px;
	background-color: #770000
}

.u-horizone .u-h1{
	color: white;
	text-align: center;
	line-height: 100px;
}

.u-parag{
	color: #DD0000;
	font-size: 28px;
	text-align: center;
	padding-top: 30px;
	line-height: 35px;
	background-color: #7b0e2d;
	font-weight: bold
}

.u-parag .u-bold{
	font-weight: bold;
}

.u-two-parag{
	text-align: justify;
}

/*uses*/
.us-background{
	background-image: url("../images/background-cong-dung.png");
	height: 500px;
	background-repeat: no-repeat;
}

.us-horizone{
	margin: 40px 0px;
	margin-top: 60px;
}

.us-horizone .u-h1{
	color: #DD0000; 
	text-align: center;
	line-height: 50px
}

.us-on .us-title{
	color: #DD0000; 
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	padding-left: 8px;
	padding-top: 8px;
}

.us-behind{
	color: #DD0000;
	font-size: 16px;
	margin-top: 15px;
	background-color: #ffffff4d;
	padding-left: 8px;
	padding-bottom: 8px;
}

.us-behind p{
	font-weight: bold
}

.us-scale{
	background-color: white;
	border-radius: 10px;
	opacity: 0.6
}

.us-for-mar{
	padding-top: 70px;
}


/*lien há»‡*/

#contact{
	background-color: #770000 ;
}

#contact .c-horizone .u-h1{
	padding-top: 30px;
}

.contact-title{
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	color: #f0ad4e;
	font-weight: bold;
}

.contact-address{
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff
}


/*younow*/
.fix-text1{
	/*min-width: 405px;*/
	/*max-width: 405px;*/
}

.fix-img1{
	/*min-width: 405px;*/
	/*max-width: 405px;*/
}

.un-font-text{
	font-size: 15px;
}

.wrap-text{
	padding-top: 30px;
	background-color: #ffffff;
}


.tr-phase{
	margin-top: 20px
}

.tr-phase .tr-phase-title p{
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #DD0000
}

.tr-phase .tr-phase-content p{
	font-size: 16px;
	line-height: 18px;
	margin-top: 10px;
}


.tr-phase-one .tr-phase-title p{
	text-align: right ;
}

.tr-phase-one .tr-phase-content p{
	text-align: right ;
}

.tr-phase-two .tr-phase-title p{
	text-align: right ;
}

.tr-phase-two .tr-phase-content p{
	text-align: right ;
}

.un-layer-two p{
	background-color: #fff;
	line-height: 30px;
}





/*//scroll top*/
.go-up a {
	background-color: #db3762;
	-webkit-border-radius: 0;
	color: white;
	display: inline-block;
	line-height: 33pt;
	width: 33pt;
	height: 33pt;
	opacity: 0;
}
.go-up .show {
	opacity: 1;
}
.go-up {
	left: 10px;
	z-index: 999;
	text-align: center;
	bottom: 30px;
	margin-bottom: 0;
	position: fixed;
}



/*responsive*/

@media only screen and (min-width: 1367px) and (max-width: 2200px){
	#contact{
		height: 650px;
	}

}
@media only screen and (min-width: 1367px) and (max-width: 1600px){
	.img9931200{
		margin-top: 5%;
	}
	.tr-img{
		margin-top: 8%;
	}
}
@media only screen and (min-width: 1201px) and (max-width: 1366px){
	.tr-img{
		margin-top: 13%;
	}
	.us-for-mar{
		padding-top: 60px;
	} 
	.us-mar-two{
		margin-top: -15px
	}
	#contact{
		height: 650px;
	}
	.u-horizone{
		height: 90px
	}
	.u-horizone .u-h1{
		font-size: 30px;
		line-height: 90px;
	}
	.us-horizone .u-h1{
		font-size: 30px;
	}
	.img9931200{
		margin-top: 5%;
	}
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
	.tr-img{
		margin-top: 20%;
	}
	.us-for-mar{
		padding-top: 30px;
	}  
	.us-mar-two{
		margin-top: -15px
	}
	.us-on .us-title{
		font-size: 18px;
	}
	.img9931200{
		margin-top: 10%;
	}
	#contact{
		height: 650px;
	}
	.u-horizone .u-h1{
		font-size: 25px;
	}
	.us-horizone .u-h1{
		font-size: 26px;
	}
	.us-background{
		height: 530px;
	}
	.u-horizone{
		height: 70px ;
	}
	.u-horizone .u-h1{
		line-height: 70px;
	}
}

@media only screen and (max-width: 992px){
	.tr-wrap{
		display: none;
	}
	.contact-info{
		margin-top: 40px
	}
	.u-horizone{
		height: 70px;
	}
	.u-horizone .u-h1{
		line-height: 70px;
		font-size: 25px;
	}
	.us-horizone .u-h1{
		font-size: 26px;
		margin-top: -30px
	}

	.y-text1{
		margin-top: 15px;
	}
	.y-text2{
		margin-bottom: 15px;
	}
	.y-text-3{
		margin-bottom: 15px;
	}
	.wrap-text1{
		padding-bottom: 15px;
		background-color:#fff3e0
	}
	.img9931200 img{
		display: none;
	}

	.us-for-mar{
		padding-top: 30px;
	} 
	.us-mar-two{
		margin-top: -30px
	}
	.us-on .us-title{
		font-size: 16px;
	}
	/*.button-buy992{
		display: none !important;
	}*/

	.us-background{
		height: 600px;
	}

	#contact{
		height: 1050px;
	}

	.wrap-list-tr{
		display: block !important;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px){
	.wrap-list-tr .container{
		margin: 10px 0px;
	}
	.tr-wrap-img .tr-title{
		color: #00af43;
	}
	.tr-wrap-img .tr-title p{
		font-weight: bold;
	}
	.tr-wrap-img img{
		margin-right: 10px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 650px){
	.us-background{
		height: 760px !important;
	}
	.button-buy992{
		margin-top: 30px;
	}
}

@media only screen and (min-width: 651px) and (max-width: 992px){
	.us-background{
		height: 700px !important;
	}
	.button-buy992{
		margin-top: 30px;
	}
}


@media only screen and (min-width: 240px) and (max-width: 767px){
	
	.tr-img{
		display: none;
	}
	.tr-wrap-img{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.tr-wrap-img .tr-title{
		color: #00af43;
	}
	.tr-wrap-img .tr-title p{
		font-weight: bold;
	}
	.tr-wrap-img .tr-content{
		margin-top: 5px;
		text-align: justify;
	}
	.tr-wrap-img img{
		margin-right: 10px;
	}
}


@media only screen and (min-width: 320px) and (max-width: 599px){
	.button-buy992{
		margin-top: 30px;
	}
	#contact{
		height: 1050px;
	}
	.us-background{
		height: 840px !important;
	}
	.u-horizone{
		height: 50px ;
	}
	.u-horizone .u-h1{
		line-height: 50px;
		font-size: 22px;
	}
	.u-parag{
		font-size: 22px;
	}
	.us-horizone .u-h1{
		font-size: 24px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 510px){
	.us-background{
		height: 840px !important;
	}
	.button-buy992{
		margin-top: 10px;
		font-size: 14px !important;
	}
}